@model ModelPr.ModelViews.ProfileModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>My Profile</title>
<style>
    .img-circle {
        border-radius: 50%;
        border: 1px solid black;
    }

    .avatar {
        width: 150px;
        height: 150px;
    }
</style>
<div class="container" style="margin-top:100px">
    <h1>My Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                @if (Model.Image == null) {
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                } else {
                    <img src="../Images/Uploaded/@Model.Image" class="avatar img-circle" alt="avatar">
                }
                <h6>Upload a different photo...</h6>
                @using (Html.BeginForm("UploadAvatar", "Account", FormMethod.Post, new { @id = "upload", enctype = "multipart/form-data" })) {
                    <input type="file" name="file" id="file" class="form-control">
                }
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            @*<div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                </div>
                <h3>Personal info</h3>*@

            @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-lg-3 control-label">Full Name:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone:</label>
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @type = "password", @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr>
<script>
    $('#file').change(function () {
        $('#upload').submit();
    });
</script>
@if (TempData["Message"] != null) {
    <script>
        alert('@(TempData["Message"])');
    </script>
}
